*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

                /* utility */
                .width100{
                    width: 100%;
                }
          

                .flex{
                    display: flex;
                }
                .wrap{
                    flex-wrap: wrap;
                }
                .align-center{
                    align-content: center;
                }
                .padding10{
                    padding: 10px;
                }

                .padding30{
                    padding: 30px;
                }
                .line-height40{
                    line-height: 40px;
                }
                .line-height25{
                    line-height: 25px;
                    font-size: medium;
                }

                .textalign{
                    text-align: center;
                }

                .center{
                    align-items: center;
                }
                
                .align-self{
                   align-self: center;    
                }
                .just-end{
                    justify-content: end;
                }
                .width70{
                    width: 70%;   
                }
                .relative{
                    position: relative;
                }
                .margin70{
                    margin-top: 70px;
                }
                .space{
                    justify-content: space-between;
                 }
                 .float{
                    float: left;
                }
                .margin-top{
                    margin-top: 20px;
                }
                .bold{
                    font-weight: bold;
                }
                .jus-center{
                    justify-content: center;
                }
           
              


  /* classi di struttura */

        /* header */
        header{
            background-color: rgb(255, 255, 255);
            height: 70px; 
        }

        .row-header{
            background-color: white;
            height: 70px; 
            justify-content: space-between;
            position: fixed;
            z-index: 1;
            padding: 10px;
        }

        .col-header{
            width: 600px;
          
        }

        /* stile header */
        .container-logo{
            height: 25px;
            width: 127px; 
            display: inline-block;
            align-self: center;
        }
        
        .ul-header{
            list-style-type: none;
    
        }

        .ul-header li{
            padding-right: 15px;
          
        }
        #button-header{
          margin: 0;
          transform: translate( 5px,-35%);
        
        }





        /* main */

        .background-container{
            background-color: rgb(121, 182, 198) ;
            height: 600px; 
            position: relative;    
        }

        .container-one{
            width: 1200px;
            height: 500px; /* altezza fissa per far si chel immagine esca fuori */
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
        }

        .contenitore-p{
            width: 30%;
            position: relative;
        }
      

        /* container principale */

        .container{
            width: 1000px;
            margin: 0 auto;
        }

        .row{
            column-gap: 50px;
            margin-top:150px;     
        }

        
        .height .piccola{
            height: calc(70% - 50px);
        }
        .minuscola{
            width: 30% ;
            align-self:flex-end ;
            text-align: center;

        }

        .col-tipofat{
            padding-bottom: 50px;

            
        }
        .col{
            border: 1px solid black;
        }



        .height2{
            justify-content: center;  
        }

        .height3{
            justify-content: center;
            align-items: center;
        }

        .height4{
            justify-content: center;
            margin-top: 200px ;
            
        }


        .height5{
            height: calc(100vw / 2);
            
        }
        .lunga2{
            background-color: coral;
            
        }

        .piccola2{
            width: 33.33%;
    
            
        }
        .piccola3{
            width: calc(100% / 2);
            background-color: chocolate;
        }

        .col2{
            border: 1px solid black;

        }
        .piccola4{
            width: calc(100% / 3);
        
        }
        .grandezza{
            margin-top: 200px;
            line-height: 80px;
            
        } 
 

        .grandezza .colonna:first-of-type{
        height: calc(100% /5 * 2);
        }  

        /* footer */
        footer{
            height: 50vh;
            background-color: rgb(0, 0, 0);
            justify-content: center;
        }
        .footer-row{
            width: 90%;
        }

        .col-footer{
            width: calc(100% / 5);
        }


     /* classi di stile */   
     h1{
        font-weight: bolder;
        font-size: 70px;
     }

     h2{
        font-weight: bold;
        font-size: 40px;
     }

     h3, .costo{
        margin-bottom: 20px;

     }
     .costo{
        font-weight: bold;
     }

     .mensilita{
        color: lightgrey;
        margin-bottom: 40px;
     }

     .info-enterprise{
        font-weight: bold;
        margin-bottom: 40px;
        font-size: small;
     }

     .paragraf{
        font-size: small;
     }
     #padding-button{
        padding-left: 30px;
        padding-right: 30px ;
     }

     button{
        background-color: blue;
        color: white;
        border-color: blue;
     }

     button, .whitebutton{
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
     }

     .whitebutton{
        background-color: white;
        color: grey;
        border-color: grey;
        ;

     }
     
    #freccia{
        position: absolute;
        bottom: 105px;
        font-size:xx-large;
    }

    .radio{
       margin-top: 50px;
       margin-right: 10px;
    }
    
    .lunga span{
        padding-right:20px ;
    }

    ul{
        margin: 20px;
    }

    #partner{
        width: 100%;
    }


    .ul-footer li{
        list-style-type: none;
        color: white;
        font-size: small;
        line-height: 30px;
    }
    #lenguage{
        color: rgb(197, 197, 197);
        font-size: small;
        margin-left: 20px;
    
    }
    #lenguage-eart{
        margin-top: 50px;
    }

    .ul-footer li:first-of-type{
        font-size: medium;
        font-weight: bold;
        margin-bottom: 20px;

    }

    #hr-footer{
        width: 40%;
    }

    .border{
        border-bottom: 1px solid grey;
    } 

   #bordertop{
    border-top: 1px solid grey;
   }


    /* style liste tariffe */
    .ul-puntisalienti{
        list-style-type:'\2713';
        color: blue;
        font-weight: bold; 
    }

    .ul-puntisalienti li{
        margin-top: 5px;
         padding-left: 10px;
    }
    .ul-puntisalienti li span{
        color: black;
        font-weight: 100;
        
    }
    #scopri-dipiu{
        margin-top: 40px;
        margin-bottom: 80px;
    }



    /* colori scacchiera */
    .aqua{
        background-color: aquamarine;
    }
    .red{
        background-color: red;
    }
    .blu{
        background-color: blue;
    }
    .yellow{
        background-color: rgb(200, 200, 80);
    }
    .darkred{
        background-color: darkred;
    }
    .cornflower{
        background-color: cornflowerblue;
      
    }
    .lightblue{
        background-color:lightblue ;
    }
    .white{
        background-color: white;
    }



    #centratura{
        width: 1000px;
        margin: 0 auto;
    }
    #porta-drop{
        width: 50%;
        margin-right: 100px;
    }

 

.info-tariffe>ul{
    list-style-type: none;
    margin: 0;
}

.inline{
    display: inline-block;
    font-size: medium;
}

.hr-tariffa{
    margin-top: 30px;
    margin-bottom: 30px ;
    width: 50px;
}

.vuoto{
    height: 20px;
    width: 100%;
}

.margin-top .float{
   margin-right:3px ;
}


.widthmeta{
    width: 80%;
    height: 20%;
    align-self: center;
}

.fill{
    filter: invert();
}
